<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <%- include("./cssjs.ejs") %>
        <title></title>
        <style>
            body {
                background-color: #B7BF96;
            }

            h1 {
                color: #436B5C;
            }

            ul {
                text-transform: capitalize;
            }

            body {
                text-align: center;
            }
        </style>
</head>

<body>
    <h1>At Foo Bar</h1>

    <h2>
        <%= drink.name %>
    </h2>
    <img alt="<%= drink.name%>" src="<%= drink.image %>.png">
    <h3>
        $<%= drink.price %>
    </h3>
    <a href="/drinks">Back to Index</a>
</body>

</html>